html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  margin-top: -16px;
  overflow: hidden;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#8c7bb5), to(#b4accc)) fixed;
  background-size: 400%;

  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

#root {
  height: 100%;
  margin: 0;
}

.bg {
    /* The image used */
    background-image: url("/src/fabric.png");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

